

body {
  background-image: linear-gradient(90deg, #080233, #04001b);
  margin: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: white;
}

/* top navigation bar */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(180deg, rgb(3, 25, 87), rgba(0, 0, 0, 0));
    height:14vh;
    width: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1% 5% ;
    transition: all ease-in-out 1s;
}
/* all the divs inside the navigation bar should be placed side by side*/
.navigation-bar>div{
    display: inline-block;
}

/* website logo image */
.website-logo{
    font-size: 3.5vw;
    display: inline-block;
}

.website-name {
margin: 0px;
display: inline-block;
font-size: 1.5vw;
position: relative;
width: 8vw;
}
/* animation for favoutites text */
@keyframes flexible {
	
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scaleX(1);
	}
}
/* favourites text */
.fav {
	animation-name: flexible;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	perspective: 10000px;
	transform-style: preserve-3d;
	animation-iteration-count: infinite;
}

.search-combo{
    display: flex;
  }
 /* search bar */ 
#search-bar{
    width: 18vw;
    border-radius: 20px;
    padding: 6px 26px 4px 35px;
    text-decoration: none;
}

/* changing the default style of the input bar */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:focus {
	outline: none;
}
::placeholder {
    color: grey;
    font-weight:500;
    text-align:center;
    font-size:15px;
  }
  /* search icon for input bar */
.search-icon{
    position: relative;
    font-size: 14px;
    color: gray;
    top: 5px;
    left: 30px;
}
/* mic icon for input */
.micro{
    position: relative;
    font-size: 14px;
    color: gray;
    top: 5px;
    right: 30px;
}
/* animation for bell image */
@keyframes ringing_bell {
	0% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}
/* notification bell image */
.notification-bell img {
	width: 40px;
	height: 30px;
	animation-name: ringing_bell;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: 10s;
	position: first;
}

.notification{
    position: relative;
    bottom: 2px;
    position: relative;
    bottom: 5px;
    right: 6px;
}
/* profile picture of the user */
.profile-picture img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
}
/* navigation bar is completed here */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* main */

main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all ease-in-out 1s;
}
/* styling the  responsivse playlist button */
.reponsive-playlist-button{
    position: absolute;
    color: mediumpurple;
   
    width: 3.5vw;
    padding: 3px;
    height: 3.5vw;
    left: 95vw;
    top: 2vw;
    border-radius: 26%;
    text-align: center;
    opacity: 0;
   

}
.checkbox-2{
    position: absolute;
    left: 92vw;
    top: 2vw;
    display: none;
}

.fa-bars{
    position: relative;
    font-size:3.5vw;
    bottom: 3.5px;
    right: 0.5vw;
    
}
/* there are two aside sections both of them will have this class 
(I have taken care of the re-usability of the classes and removed redundancy) */
.aside{
    display: inline-block;
    overflow: hidden;
}
/* first section of the main part */
.section-left {
	width: 68%;
	height: 75vh;
    margin-left: 2%;
	overflow: scroll;
	overflow-x: hidden;
}
/* second section of main part */
.section-right{
    width: 29%;
    position: relative;
    
    
}
/* overflow should be scrollable but the scroll bar should be hidden*/
.section-left::-webkit-scrollbar {
	display: none;
}
.section-right::-webkit-scrollbar {
	display: none;
}

/* carousel */
.outer-carousel
{
    position: relative;
    width: 100%;
    height: auto;
    
}
.carousel{
display: flex;
justify-content: space-around;
height: 19vw;

}
/* general properties for images in the carousel */
.carousel img{
    position: relative;
    top: 3vw;
    height: 15vw;
	width: 21.5vw;
	transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}
/* animations for carousel */
.carousel img:hover {
	z-index: 4;
	box-shadow: 0px 0px 12px 0.1px black;
	height: 18vw;
	width: 27vw;
}
#carousel-img1:hover,#carousel-img2:hover,#carousel-img3:hover{
    top: 2vw;
    overflow: visible;
    
}
/* latest release */
.latest-release{
    position: relative;
	height: auto;
	width: 100%;
}


.latest-release-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
	justify-content: space-around;
}

/* all the components of the latest release part */
.latest-release-content > div {
	/*  border:1px solid white; */
	height: 8vw;
	margin: 5px 0px;
}
/* card is the general class for the components of the latest release part */
.card {
	display: flex;
	width: 47%;
    height: 8vw;
    padding: 0px 10px 0px 0px;
	flex-direction: row;
    justify-content: space-between;
	transition: box-shadow ease-in-out 0.1s;
}
/* hovering effects for the latest release part components */
.card:hover {
	box-shadow: 0px 0px 2px 1px white;
}
/* images in the cards of the latest release section */
.card img {
	width: 8vw;
	height: 8vw;
	z-index: 1;
}
/* this is the play button which will be visible only on hover */
.play-button {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 8.4vw;
    left: 0vw;
    color: rgba(255, 255, 255, 0);
	/* note that its opacity will be 0 normally */
	background-color: rgba(0, 0, 0, 0);
    font-size: 2.5vw;
    z-index: 5;
	transition: all ease-in-out 0.5s;
    box-sizing: border-box;
}
/* hovering effect for the play button */
.play-button:hover {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.2);
   
}
.fa-play{
    display: inline-block;
    padding-top: 35%;
    padding-left: 40%
}
/* description of the song in the card, which will contain the song nae and author */
.song-name{
    position: relative;
    right: 5vw;
    width: 11vw;
    padding-left: 3vw;
}
.song-name h3{
    font-size: 1.5vw;
}
.song-name p{
    font-size: 1.5vw;
}
/* options is the class for the 3 dots which needs to be clicked to trigger the latest release drop down menu */
.options {
	position: relative;
	display: flex;
	flex-direction: column;
	height: auto;
}
.options p{
    font-size: 1.5vw;
}

.fa-ellipsis-h, .drop-item {
	cursor: pointer;
    position: relative;
}
/* this is for the latest release drop down menu */
.latest-release-dropdown{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    width: 9vw;
    height: 11vw;
    text-align: center;
    padding: 0.5vw 0.5vw 0 0.5vw;
    top: 1vw;
    right: 0vw;
    opacity: 0;
    background-color: darkslateblue;
    border: 1px solid rgb(243, 242, 242);
	box-shadow: 0px 0px 2px 1px black;
	transition: all ease-in-out 0.3s;
    
}
.drop-item p{
    margin: 0px;
    padding: 0px;
    font-size: 1vw;
    
    
}
.drop-item p a{
    text-decoration: none;
    color: white;
}
hr{
    width: 100%;
    margin: 0vw 0vw;
}
/* this input is for the latest release drop down */
.checkbox-1 {
display: none;
}
/* checking it, will trigger the latest release dropdown */
.checkbox-1:checked ~ .latest-release-dropdown {
	opacity: 1;
    z-index: 2;
}

/* popular artists */
.popular-artists {
	position: relative;
	width: 100%;
	height: auto;
	top: 3vw;
	box-sizing: border-box;
}
.popular-artists-heading h1{
    margin:2vw 0vw

}
/* container of the popular artists */
.popular-artists-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

}
.popular-artists-content a{
    text-decoration: none;
    color: white;
}
.popular-artists-play{
    position: absolute;
    width: 3vw;
    height: 3vw;
    top: -1vw;
    right: 10vw;
    opacity: 0;
    transition: opacity ease-in-out 0.1s;

}

.popular-artists-images{
    position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    

}
/* images in the popular artists section */
.popular-artists-images img{
    width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
    margin: 0vw 1vw;
    transition: opacity ease-in-out 0.2s;
}
/* added hovering effects */
.popular-artists-images img:hover  {
    opacity: 0.7;
}
.popular-artists-images:hover .popular-artists-play {
    opacity: 0.8;
}

/* music themes */
.music-themes{
    display: flex;
    flex-direction: row;
    position:relative;
    width: 100%;
    justify-content: space-between;
    margin: 2vw 0vw;
    top: 3vw;
    background-image: linear-gradient(
		90deg,
		#833ab4,
		#fd1d1d,
		#fcb045
	);
}
/* stations */
.stations{
    top: 10.5vw;
    left: 1vw;
    position: relative;
}
/* these classes are for the colourful boxes in the themes section */
#station-1
{
    width: 12vw;
	height: 8vw;
	background-color: darkslateblue;
    position: relative;
}
#station-2
{
    position: relative;
    width: 10vw;
	height: 10vw;
	background-color: lightgreen;
    margin: auto;
    bottom: 1vw;
}
#station-3
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    width: 8vw;
	height: 12vw;
	background-color: orange;
    margin: auto;
    bottom: 1vw;
}
/* logo in the outermost div */
#station-3 img {
	width: 5vw;
	height: 5vw;
    position: relative;
    top: 2vw;
}
/* "stations" text */
#station-3 p {
	font-size: 2vw;
}
/* images in the music themes section */
.music-themes div img {
	width: 8vw;
	height: 8vw;
	border-radius: 50%;
}
.themes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
/* this is the sub content of the themes section */
.music-themes-content{
    margin: 2vw 2vw 0vw 2vw;
    text-align: center;
}
/* text within the themes section */
.music-themes-content p{
    margin: 0;
    bottom: 6vw;
    font-size: 2vw;
    position: relative;
}
.music-themes-content img ,.music-themes-content p{
	cursor: pointer;
}
/* hovering effects on the contents of the divs inside the themes container */
.music-themes-content img:hover,.music-themes-content p:hover{
    opacity: 0.7;
}

/* music themes -2 */
.music-themes-2{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    position: relative;
    top: 6vw;
    box-sizing: border-box;
    margin: 2vw -1vw;
}
/* this outer div contains the inner div and the image and text */
.theme-outer-div{
height: 11vw;
width: 18vw;
position: relative;


}
/* inner div portion */
.theme-inner-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: 18vw 11vw;
    background-repeat: no-repeat;
    background-position: center;
	transition: all ease-in-out 0.3s;
}
.theme-inner-div p{
    position: relative;
    font-size: 2vw;
    color: white;
    transform: scale(1);
    transition: all ease-in-out 0.3s;
}
/* divs corresponding to each of the 3 sub sections in the themes section */
/* party */
.music-themes-2 .theme-outer-div:nth-child(1) .theme-inner-div {
	background-image: url("media/music\ themes\ 2/party.jpg");
}
/* electronic */
.music-themes-2 .theme-outer-div:nth-child(2) .theme-inner-div {
	background-image: url("media/music\ themes\ 2/electronic.jpg");
}
/* road */
.music-themes-2 .theme-outer-div:nth-child(3) .theme-inner-div {
	background-image: url("media/music\ themes\ 2/road.jpg");
}
.theme-outer-div:hover .theme-inner-div{
    
    background-size: cover;
    
}

.theme-outer-div:hover .theme-inner-div p{
    transform: scale(.8);
}

/* language wise */
/* language sections */
.latest-lang{
    width: 100%;
    position: relative;
    top: 8vw;
}
/* lastest hindi songs section */
/* heading */
.latest-hindi-heading{
    margin-top: 2vw;
}
/*  content container */
.latest-lang-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.latest-lang-songs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.latest-lang-songs img{
    width: 10vw;
    height: 10vw;
    transition: box-shadow ease-in-out 0.1s;
}

.latest-lang-songs img:hover{
    box-shadow: 0px 0px 10px 1px white;
}
.latest-lang-songs p{
    margin: 2% 0%;
    font-size: 1.5vw;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* section 2 starts here */
/* ASIDE SECTION RIGHT*/

/* heading for the second  aside section */
.right-section-heading
{
 display: flex;
 justify-content: space-between;
 position: relative;
 flex-wrap:wrap;
}
.playlist-heading h1{
    display: inline-block;
    position: relative;
    left: 3vw;
    bottom: 1vw;
}

.queue-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 6vw;
    position: relative;
    bottom: 1vw;
    margin-right: 2vw;
    font-size: 1vw;
}


.queue-heading p{
    margin: 0%;
    position: relative;
    font-weight: 600;
    text-decoration: none;
	color: greenyellow;
}
.queue-heading a{
    text-decoration: none;
}
/* these are the properties for the queue options box. the queue options box will be visible when one clicks on the queue button */
.queue-options{
    position: absolute;
    right: 3vw;
    top: 3vw;
    background-color: #f8f9fa;
    width: 11vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;
    opacity: 0;
    transition: all ease-in-out 0.25s;
}
.queue-options p{
    margin: 1vw auto;
}
.queue-options p a{
    text-decoration: none;

}
/* when the queue option box becomes target */
#queue-option-box:target {
	opacity: 1;
	transform: scale(1);
}
/* Queuecontent container scroll bar */
.queue-section::-webkit-scrollbar {
	display: none;
}
/* Queue section */
.queue-section{
    width: 100%;
    height: 65vh;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	cursor: pointer;
}
/* Queue content */
.queue-content{
    display: flex;
    margin: 1vw 0vw;
	width: 90%;
    position: relative;
    left: 0.5vw;
    height: 7vw;
    padding: 0px 10px 0px 0px;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
	transition: box-shadow ease-in-out 0.1s;
}
/* hovering effect on each queue item */
.queue-content:hover {
	box-shadow: 0px 0px 2px 1px white;
}
.queue-serial-no{
    margin: 0vw 1vw 0vw 1vw;
}
/* queue content image */
.queue-content img {
	width: 6vw;
    height: 5.5vw;
    z-index: 1;
    margin: 2vw 0vw;
}
/* play button will be visible on hovering over  */
.queue-play-button {
    height: 100%;
    width: 100%;
    position: relative;
    left: -7vw;
    color: rgba(255, 255, 255, 0);
	/* note that its opacity will be 0 normally */
	background-color: rgba(0, 0, 0, 0);
    font-size: 2.5vw;
    z-index: 5;
	transition: all ease-in-out 0.5s;
    box-sizing: border-box;
}
.queue-play-button:hover {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.2);
}

.icon-position{
    display: inline-block;
    padding-top: 2vw;
    padding-left: 3vw;
}
.queue-song-name{
    position: relative;
    right: 5vw;
    width: 11vw;
   
}
.queue-song-name :nth-child(1){
    margin: 1vw 0 0 0;
    font-size: 1.5vw;
}
.queue-song-name :nth-child(2)
{
    margin: 1vw 0 0 0;
    font-size: 1.5vw;
}
.queue-song-name p{
    font-size: 1.5vw;
}
.heart i{
    transition: all ease-in-out 0.1s;
}
/* hover effect on heart */
.queue-content:hover .fa-heart{
    animation-name: glowing-heart;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1s;
}
/* animation for glowing heart in each of the playlist items */
@keyframes glowing-heart {
	0% {
		color: yellow;
	}
	50% {
		color: orangered;
	}
	100% {
		color: red;
	}
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Footer section starts here*/
/* this is the container for the whole footer */

footer{
    display: flex;
    position: fixed;
    flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
    width: 100%;
    height: 10vh;
	background-color: #282828;
    bottom: 0px;
    
}
/* footer is divided into 3 parts */
/* 1. first part of the footer */
.active-song-description{
  
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    position: relative;
    height: 95%;
    width: 25%;
}
/* the current song which is being played, this is the image container for that. */
#song-image{
   height: 85%;
    width: 23%;
}
#song-image img{
    height: 100%;
    width: 100%;
}
/* song decscription */
.song-desc div{
  font-size: 1.5vw;
}
/* heart and ban icon */
.heart-and-ban-icon {
	height: 100%;
	padding-top: 4%;
}
/* 2. Second part of the footer*/
.player{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45%;
    align-items: center;
	justify-content: center;
}
/* controls is the container for all the center controls of the player */
.controls{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
	align-items: center;

}
/* this is the song-duration slider */
#slider{
    display: flex;
    flex-direction: row;
    width: 100%;
	font-size: 12px;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
.slidecontainer{
    width: 100%;
}
/* for audio and main center player */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.8;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
    background: linear-gradient(to right, #82CFD0 0%, #82CFD0 0%, #fff 0%, #fff 100%);
    border: solid 1px #82CFD0;
    outline: none;
    transition: background 450ms ease-in;
}
.time{
    padding: 0vw 1vw;
}
/* hover effect for the slider */
.slider:hover {
	opacity: 1;
}
/* general styling of slider */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
    
}
/* this is the circular thumb, which can be moved across the div */
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

/* third part of the footer */
/* this contains the extra icons and slider for volume */
/* this is also a container */
.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}